.text_left {
	text-align: left;
}

.top_margin {
	margin-top: 10px;
}

.btn-transparent {
  	border:0px solid transparent;
}

.box-1 {
	border: 1px solid lightgray;
	padding: 5px;
}

.box-2 {
	border: 1px solid lightgray;
  padding-bottom: 35px;
  padding-top: 10px;
  padding-right: 35px;
}

.move-right {
  padding-left: 35px;
}

.form-fields {
  list-style-type: none;
}

hr {
  clear:left;
  margin-top: 60px;
  border-style: solid;
  border-width: 2px;
  width: 95%;
}