<div class="container">
  <div class="col-lg-12" ng-controller="PostsController">
    <ul class="nav nav-tabs">
      <li ng-class="{'active' : $location.url().indexOf('democrats') != -1}"><a href="#/democrats">Democrats</a></li>
      <li ng-class="{'active' : $location.url().indexOf('republicans') != -1}"><a href="#/republicans">Republicans</a></li>
    </ul>
    <div class="tab-pane">
      
        <div class="row">
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <h2>Popular Post 1</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-primary" href="#/viewPost" role="button">View details &raquo;</a></p>
          </div>
        </div>
      
    </div>
  </div>
</div>
